.j-ellipsis {
    overflow: hidden;
    vertical-align: bottom;
}

.j-ellipsis-cursor {
    cursor: pointer;
}

.j-ellipsis-line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.j-ellipsis-deep {
    max-height: 380px;
    -webkit-line-clamp: 17;
    text-overflow: ellipsis;
}
