@import 'ant-design-vue/lib/style/index.less';

.data-table {
    td,
    th {
        border-bottom: 1px solid #f3f3f3;
        position: relative;
        /* overflow: hidden; */
        .data-table--edit {
            position: absolute;
            top: -5px;
            right: 0px;
            padding: 0;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid @error-color;
            transform: rotate(-45deg);
        }
    }
    td > div {
        padding: 2px 4px;
    }

    th > div {
        height: 100%;
        padding: 12px 4px;
    }

    td > div {
        width: 100%;
        text-align: center;
    }

    .data-table--header {
        background-color: #f9f9f9;
    }

    .data-table--border {
        border: 1px solid #eee;
    }

    .data-table--text {
        padding: 6px 4px;
    }

    .data-table-config {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        gap: 8px;

        .data-table-config--text {
            flex: 1;
            background-color: #f0e68c;
            padding: 4px;
            border-radius: 4px;
            height: 100%;
        }

        .data-table-config--icon {
            font-size: 20px;
            border-radius: 4px;
        }
    }

    .ant-form-item {
        margin-bottom: 0;
        &.ant-form-item-has-error {
            padding-bottom: 0;
        }
    }
}

.j-data-table {
    .j-data-table-body {
        .ant-table-tbody {
            tr {
                height: 100%;
            }

            .ant-table-cell,
            & td {
                padding: 0;
                height: 100%;
                & > div {
                    height: 100%;
                    padding: 6px 14px;
                    border: 1px solid transparent;
                    display: flex;
                    align-items: center;
                    position: relative;

                    &.j-data-table-empty {
                        justify-content: center;
                        padding-top: 30px;
                    }

                    &::after {
                        position: absolute;
                        content: ' ';
                        top: -5px;
                        right: -1px;
                        padding: 0;
                        width: 0;
                        height: 0;
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                        border-left: 8px solid transparent;
                        transform: rotate(-45deg);
                        z-index: 4;
                        transition: all 0.3s;
                    }

                    &.update::after {
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                        border-left: 8px solid @error-color;
                    }
                }
                .j-data-table-td-selected {
                    border-color: @primary-color;
                }
                .j-data-table--edit {
                    padding: 0;
                    .ant-form-item {
                        margin-bottom: 0;
                        width: 100%;
                        &.ant-form-item-has-error {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .j-data-table-footer {
        .j-data-table-footer--add {
            width: 100%;
            margin-top: 12px;
        }
    }

    .data-table--text {
        padding: 6px 4px;
    }

    .j-data-table-row--config {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        gap: 8px;

        .j-data-table-config--text {
            flex: 1;
            height: 100%;
        }

        .j-data-table-config--icon {
            font-size: 16px;
            padding-right: 6px;
            border-radius: 4px;
        }
    }
}
