@import '../../style/variable.less';

@card-border: #f0f0f0;
.j-card-panel {
    display: flex;
    flex-wrap: wrap;

    .j-card-item {
        padding: 20px;
        border: 1px solid @card-border;
        margin: 15px;
        border-radius: 4px;
        cursor: pointer;
        color: @black;
    }

    .vertical {
        width: 130px;
        height: 130px;
    }

    .horizontal {
        width: 186px;
        height: 100px;
    }

    .active {
        border: 1px solid @primary-color !important;
    }

    .disabled {
        cursor: not-allowed;
        opacity: 0.75;
    }

    .grid-item {
        display: grid;
        justify-items: center;

        .icon {
            border-radius: 8px;
            width: 56px;
            height: 56px;
            &.box-shadow {
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
            }
        }

        .desc {
            display: grid;
            justify-items: center;
            align-items: flex-start;
            width: 84px;

            .title {
                font-weight: 400;
                font-size: 12px;
                opacity: 0.75;
            }

            .sub-title {
                font-weight: 400;
                font-size: 8px;
                opacity: 0.24;
                transform: matrix(1, 0, -0.01, 1, 0, 0);
            }
        }
    }

    .flex-item {
        display: flex;
        justify-content: space-around;
    }
}

.j-card-lg {
}

.j-card-sm {
}
