.flex-list-wrapper {
    display: grid;
    justify-content: start;
    grid-gap: 24px 24px;
  
    .item-wrap {
      position: relative;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
  }