@import '../../style/variable.less';

.j-check-button {
    display: flex;
    gap: 16px;
    width: 100%;

    .j-check-button-item {
        flex: 1;
        min-width: 0;
        padding: 8px;
        border-radius: 2px;
        background-color: #f2f3f5;
        transition: all 0.3s;
        color: #333;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: ~'var(--ant-primary-color)';
            opacity: 0.85;
            color: #fff;
        }

        &.selected {
            background-color: ~'var(--ant-primary-color)';
            color: #fff;
        }

        &.disabled {
            cursor: not-allowed;
            color: #00000060;
            &:hover {
                background-color: #f2f3f5;
                color: #00000060;
            }
        }
    }
}
